body {
	background-color: gray;
}

h1 {
	background-color: black;
	color: whitesmoke;
	border-radius: 8px;
	padding: 10px;
}

button {
	background-color: skyblue;
	border: solid 2px;
	border-color: deepskyblue;
	border-radius: 8px;
	padding: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
}

button:hover {
	background-color: deepskyblue;
	border-color: dodgerblue;
	cursor: pointer;
}

button:active {
	background-color: dodgerblue;
	border-color: blue;
}

.program-container {
	background-color: lightgray;
	border-radius: 8px;
	padding: 20px;
}

.footer {
	background-color: black;
	color: whitesmoke;
	border-radius: 8px;
	padding: 10px;
}

.error {
	background-color: coral;
	color: whitesmoke;
	border-radius: 8px;
	border: solid red 2px;
	padding: 5px;
}
