body {
	background-color: gray;
	font-family: monospace;
}

nav {
	background-color: black;
	color: whitesmoke;
	border-radius: 8px;
	padding: 10px;
	font-family: monospace;
}

nav h1 {
	display: inline;
}

nav button {
	margin-left: 10px;
}

button {
	background-color: skyblue;
	border: solid 2px;
	border-color: deepskyblue;
	border-radius: 8px;
	padding: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition-duration: 0.2s;
}

button:hover {
	background-color: deepskyblue;
	border-color: dodgerblue;
	cursor: pointer;
}

button:active {
	background-color: dodgerblue;
	border-color: blue;
}

.right-align {
	border-radius: 5px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
}

.program-container {
	background-color: lightgray;
	border-radius: 8px;
	padding: 20px;
}

.generic-container {
	background-color: lightgray;
	border-radius: 8px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.footer {
	background-color: black;
	color: whitesmoke;
	border-radius: 8px;
	padding: 10px;
}

.error {
	background-color: coral;
	color: whitesmoke;
	border-radius: 8px;
	border: solid red 2px;
	padding: 5px;
}

.delete {
	background-color: coral;
	color: red;
	border-radius: 8px;
	border: solid red 2px;
	padding: 5px;
}

.delete:hover {
	background-color: rgb(252, 148, 110);
	border-color: rgb(255, 56, 56);
	cursor: pointer;
}

.delete:active {
	background-color: rgb(255, 183, 157);
	border-color: rgb(252, 99, 99);
}

.vote-counter {
	border: solid darkslategray 2px;
	padding: 10px;
	background-color: whitesmoke;
}