body {
	background-color: gray;
}

nav {
	background-color: black;
	color: whitesmoke;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	padding: 10px;
	font-family: monospace;
}

nav h1 {
	display: inline;
}

button {
	background-color: skyblue;
	border: solid 2px;
	border-color: deepskyblue;
	border-radius: 8px;
	padding: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition-duration: 0.2s;
}

button:hover {
	background-color: deepskyblue;
	border-color: dodgerblue;
	cursor: pointer;
}

button:active {
	background-color: dodgerblue;
	border-color: blue;
}

.right-align {
	border-radius: 5px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
}

.program-container {
	background-color: lightgray;
	border-radius: 8px;
	padding: 20px;
}

.generic-container {
	background-color: lightgray;
	border-radius: 8px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.footer {
	background-color: black;
	color: whitesmoke;
	border-radius: 8px;
	padding: 10px;
}

.error {
	background-color: coral;
	color: whitesmoke;
	border-radius: 8px;
	border: solid red 2px;
	padding: 5px;
}