#reset {
	background-color: orange;
	border: solid 2px;
	border-color: darkorange;
	border-radius: 8px;
	padding: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#reset:hover {
	background-color: darkorange;
	border-color: coral;
	cursor: pointer;
}

#reset:active {
	background-color: coral;
	border-color: orangered;
}

#tool {
	background-color: white;
	border: solid grey 2px;
	border-radius: 7px;
	padding: 4px;
}

#screen {
	background-color: white;
}
